body {
    font-family: Roboto;
    color: black;
    background: linear-gradient(antiquewhite, darkgrey) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.left,.right {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 150px;
 }
 .left {
    left: 0;
    
 }
 .right {
    right: 0;
    
 }
 .centered {
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    text-align: center;
 }

#pealkiri {
    
    text-align: center;
    
}
p{
    font-size: 20px;
    text-align: center;
}

a{
    display: block;
    text-align: center;
}

#pilt{
    text-align: center;
}
img{
    
   
    border-style: solid;
    border-color: tan;
}


td, th {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
  }